h1 {
  text-align: center;
  font-family: "Roboto";
  font-weight: 600;
}
.heb-text {
  direction: rtl;
  display: block;
  padding-top: 5%;
  font-family: "roboto";
}
p {
  font-family: "Roboto";
  font-weight: bold;
}
.ex-content {
  display: flex;
  justify-content: space-evenly;
}

ul {
  line-height: 2.2;
}

footer {
  display: block;
  background-color: #6998ab;
  color: black;
  text-align: center;
  padding: 2%;
}

.pages-text li {
  padding-top: 0.5%;
}
a:hover {
  color: maroon;
  text-decoration: none;
}

.pages-text {
  width: 85%;
  text-align: justify;
  margin: auto;
  padding: 5% 0;
}
.copyright {
  color: white;
}
.tamir {
  color: bisque;
}
.logo {
  color: white;
}
.logo:hover {
  color: maroon;
}
.footer-info {
  margin: 0 auto;
}

@media only screen and (max-width: 440px) {
  .content-container {
    margin: 30% 0 0;
  }

  h1 {
    font-size: 2rem;
  }
  img {
    width: 96%;
    display: block;
    margin: 15% auto 0;
  }

  .about-img {
    display: block;
    margin-bottom: 50%;
    padding-left: 2%;
  }

  .logo {
    font-size: 2em;
    margin: auto 0.3%;
  }
  .copyright {
    font-size: 0.77rem;
  }
}
@media only screen and (min-width: 440px) {
  .content-container {
    margin-top: 20%;
  }

  h1 {
    font-size: 2rem;
  }
  img {
    max-width: 96%;
    display: block;
    margin: 0 3%;
    position: relative;
  }

  span {
    display: block;
    margin-bottom: 19%;
  }
  .pages-text {
    width: 80%;
    text-align: justify;
    margin: auto;
    padding-top: 9%;
  }
  .logo {
    font-size: 2.6em;
  }
  .copyright {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .content-container {
    margin: 10% 0 0;
  }

  .img-block {
    flex-wrap: initial;
    margin: 3% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
  }

  img {
    width: 60%;
  }

  .about-img {
    font-size: 1.4rem;
    font-family: "roboto";
    font-weight: 600;
    margin-bottom: 0%;
  }
  .pages-text {
    width: 75%;
    text-align: justify;
    margin: auto;
    padding-top: 2%;
  }
  .logo {
    font-size: 2em;
    margin: auto 0.3%;
  }
  .copyright {
    font-size: 0.77rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  .content-container {
    margin: 6% 0 0;
  }
  img {
    max-width: 50%;
  }

  .img-block {
    margin-top: 1%;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 5%;
  }
  .content-container {
    margin: 6% 0 0;
  }
  img {
    max-width: 40%;
  }

  .img-block {
    margin-top: 1%;
  }
}
