h1 {
  text-align: center;
  font-family: "Roboto";
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 0;
}

h2 {
  font-family: "Roboto";
  font-weight: 800;
  margin-bottom: 0;
}

h5 {
  font-size: "Roboto";
  font-weight: 400;
}
ul {
  padding-left: 25px;
}

p {
  font-family: "Roboto";
  font-weight: bold;
}
hr {
  border-top: 3px double #333;
}
a:hover {
  color: maroon;
  text-decoration: none;
}
/**********************************Index*******/

.index {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index-header {
  font-family: "Playfair Display", serif;
  letter-spacing: 1rem;
  position: fixed;
  color: rgb(255, 255, 255);
  text-shadow: powderblue 3px;
  font-size: 4rem;
  text-align: center;
  margin: 8% 0 0 6%;
}

.index-img {
  position: fixed;
}

/**********************************PAGES*******/

.pages-text {
  width: 85%;
  margin: auto auto 24%;
  text-align: justify;
}

.avatar {
  display: block;
}

.ex-imgs img {
  margin-bottom: 3%;
}
.ex-table td,
tr {
  vertical-align: baseline;
}

.awards {
  width: 180%;
  justify-content: center;
}
.media-text {
  margin: 0 5%;
  text-align: justify;
  width: 90%;
}
/**********************************Footer*******/

footer {
  background-color: #6998ab;
  text-align: center;
  width: 105%;
}
.footer-index {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.copyright {
  color: white;
  margin: 0;
}
.tamir {
  color: bisque;
  text-decoration: underline;
}
.logo {
  color: white;
}

.logo:hover {
  color: maroon;
}

/*****************************************************MOBILE ***********************************/

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 2rem;
  }
  /**********************************Index*******/

  #index-header {
    font-size: 3rem;
    margin-top: 37%;
  }

  .index-img {
    height: 1459px;
  }

  .img-block img {
    width: 96%;
    display: block;
    margin: 22% auto 0;
  }

  /**********************************PAGES*******/

  .content-container {
    margin: 30% 0 13%;
  }

  .about-img {
    display: block;
    padding-left: 3%;
  }

  .ex-imgs {
    display: flex;
    flex-direction: column;
  }
  .ex-imgs img {
    width: 100%;
  }
  .contact-text {
    font-size: 1.3rem;
    margin-left: 7%;
  }
  .long-pic {
    max-width: 90%;
    margin: 0 auto;
  }
  .avatar {
    width: 100%;
    margin-top: 6%;
  }

  /**********************************Footer*******/

  .logo {
    font-size: 2em;
    margin: auto 0.3%;
  }
  .copyright {
    font-size: 0.77rem;
  }
}
/*****************************************************TABLET s ***********************************/

@media only screen and (min-width: 440px) {
  h1 {
    padding-top: 6%;
  }
  h2 {
    margin-top: 16%;
  }
  span {
    display: block;
  }

  .content-container {
    margin-top: 10%;
  }

  .img-block img {
    max-width: 70%;
    display: block;
    margin: 4% auto;
  }

  .about-img {
    margin-bottom: 50%;
    padding-left: 15%;
  }

  /**********************************PAGES*******/

  .ex-imgs {
    display: flex;
    justify-content: space-evenly;
  }

  .ex-imgs img {
    width: 45%;
  }
  .ex-table td,
  tr {
    font-size: 1rem;
  }

  .contact-text {
    font-size: 1.3rem;
    margin-left: 7%;
  }
  .pages-text {
    width: 85%;
    margin: auto auto 3%;
    text-align: justify;
  }
  .avatar {
    width: 70%;
    margin: 4% auto;
  }
  /**********************************Footer*******/

  .logo {
    font-size: 2.6em;
  }

  .copyright {
    font-size: 0.9rem;
  }
}
/*****************************************************TABLET ***********************************/

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    margin-top: 9%;
  }

  /**********************************PAGES*******/
  .img-block {
    margin: 5% auto 37%;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
  }
  .img-block:last-child {
    margin: 5% auto 17%;
  }

  .img-block img {
    width: 59%;
    margin: 0;
  }

  .about-img {
    font-size: 1rem;
    font-family: "roboto";
    font-weight: 600;
    margin: 0;
    width: 20%;
    padding-left: 0;
  }

  .pages-text {
    width: 72%;
    text-align: justify;
  }

  .avatar {
    margin: 3% 0 6%;
    width: 35%;
  }
  .media-content {
    display: flex;
  }

  .media-img {
    width: 35%;
    height: 30%;
  }
  .blade img {
    width: 80%;
    margin-bottom: 1%;
  }
}
/*****************************************************LAPTOP ***********************************/
@media only screen and (min-width: 1024px) {
  h1 {
    padding-top: unset;
  }
  .img-block img {
    width: 44%;
  }

  .media-item {
    display: flex;
  }
}

/*****************************************************LAPTOP L***********************************/

@media only screen and (min-width: 1400px) {
  .img-block img {
    max-width: 33%;
  }
  nav {
    font-size: 1.1rem;
  }
  .pages-text {
    font-size: 1.2rem;
  }

  .ex-table td,
  tr {
    line-height: 1.2;
    font-size: 1.2rem;
  }
  .content-container {
    margin-top: 6%;
  }
}
@media only screen and (min-width: 1600px) {
  .media-text {
    font-size: 1.2rem;
  }
}
